* {
    box-sizing: border-box;
}

.pythonML {
    background-color: var(--overlay);
    color: #ffffff;
    height: 90vh;
    width: 100%;
    position: relative;
}

.pythonML:before {
    content: '';
    background: url('./images/software_background.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pythonML .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

.pythonML .content h1 {
    margin: 7rem 0rem 1rem 0rem;
    font-size: 60px;
}

.pythonML .content p {
    font-weight: 600;
    margin: 0rem 1rem 1rem 1rem;
}

.pythonML .content .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pythonML .content .image1 {
    height: auto;
    margin: 0rem 2rem;
    width: 35%;
}

.pythonML .content .image2 {
    height: auto;
    margin: 0rem 2rem;
    width: 35%;
}