* {
    box-sizing: border-box;
}

.software {
    background-color: var(--overlay);
    color: #ffffff;
    height: 90vh;
    width: 100%;
    position: relative;
}

.software:before {
    content: '';
    background: url('./images/software_background.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.software .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
}